.boxTask{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F6F6;
  padding: 0.5rem;
  border-radius: 0.9rem;
  width: 80%;
  width: -webkit-fill-available;

}

.textLength{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .boxTask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F6F6;
    padding: 0.5rem;
    border-radius: 0.9rem;
    width: -webkit-fill-available;
  }
}