.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #314985;
}

.boxBorder{
  border-radius: 5rem;
}

.containerSearch{
  width: 60vw;
  height: 90vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.boxContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 360px;
  width: 29rem;
  padding: 4rem;
  gap: 0.8rem;
}